<div class="container mt-3">
    <div class="row">
        <div class="col-12 d-flex flex-column flex-md-row justify-content-between">
            <div class="d-flex align-items-center">
                <h3>{{post.heading}}</h3>
                <span class="badge text-primary">{{post.topic}} | {{post.subCategory}}</span>
            </div>
          <div>
            <span>by anonymous, {{post.timestamp | date: 'dd.MM.YYYY HH:mm'}}</span>
          </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div [innerHTML]="sanitizer.bypassSecurityTrustHtml(post.body)"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-end">
            <button class="btn btn-primary" (click)="setToFavourite()">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-heartbreak-fill"
                        viewBox="0 0 16 16"
                        *ngIf="postIsFavourite()"
                >
                    <path d="M8.931.586 7 3l1.5 4-2 3L8 15C22.534 5.396 13.757-2.21 8.931.586M7.358.77 5.5 3 7 7l-1.5 3 1.815 4.537C-6.533 4.96 2.685-2.467 7.358.77" />
                </svg>
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-heart-fill"
                        viewBox="0 0 16 16"
                        *ngIf="!postIsFavourite()"
                >
                    <path
                            fill-rule="evenodd"
                            d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"
                    />
                </svg>
            </button>
        </div>
    </div>
    <div class="row mt-3">
        <hr>
    </div>
    <div class="row mt-3">
        <app-comment [comments]="comments" [postId]="post.id">
        </app-comment>
    </div>
</div>
