<div class="col-12 text-center text-danger" *ngIf="registerErrorMsg">
    <span>{{registerErrorMsg}}</span>
</div>
<form [formGroup]="registrationForm" (submit)="submitRegistration()">
    <div class="form-group mb-3">
        <label class="label" for="username">Username</label>
        <input type="text" class="form-control" placeholder="Enter Username" id="username"
               [ngClass]="validateFormControl('username') ? 'is-invalid' : ''"
               formControlName="username" />
        <div class="invalid-feedback">
            Please enter a valid username (3 to 32 characters).
        </div>
    </div>
    <div class="form-group mb-3">
        <label class="label" for="email">E-Mail</label>
        <input type="text" class="form-control" placeholder="Enter E-Mail" id="email"
               [ngClass]="validateFormControl('email') ? 'is-invalid' : ''"
               formControlName="email" />
        <div class="invalid-feedback">
            Please enter a valid e-mail.
        </div>
    </div>
    <div class="form-group mb-3">
        <label class="label" for="pwd">Password</label>
        <input type="password" class="form-control" placeholder="Enter Password" id="pwd"
               [ngClass]="validateFormControl('password') ? 'is-invalid' : ''"
               formControlName="password"
        />
        <div class="invalid-feedback">
            Please enter a valid password (8 to 30).
        </div>
    </div>
    <button type="submit" class="w-100 btn btn-primary" [disabled]="loading">Sign Up</button>
</form>
